@charset "UTF-8";
* {
 font-family: 'Malgun Gothic';
 color: #4D4D4D;
}

body {
 margin: 0;
}

a {
 text-decoration: none;
 outline: none;
}

a:hover {
 text-decoration: none;
 opacity: 0.7;
}

#page {
 min-width: 980px;
}